<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">Users</div>
    <div class="card-body">
      <div class="row mb-3">
        <div class="col-md-4 offset-md-8">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-search"></i></span>
            <input type="text" class="form-control" [(ngModel)]="filterQuery" placeholder="Search by name"/>
          </div>
        </div>
      </div>
      <table class="table table-striped" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="10">
        <thead>
          <tr>
              <th style="width: 5%">
                  <mfDefaultSorter by="id">Id</mfDefaultSorter>
                </th>
            <th style="width: 10%">
              <mfDefaultSorter by="lastName">Last Name</mfDefaultSorter>
            </th>
            <th style="width: 10%">
                <mfDefaultSorter by="firstName">First Name</mfDefaultSorter>
              </th>
            <th style="width: 15%">
              <mfDefaultSorter by="email">Email</mfDefaultSorter>
            </th>
            <th style="width: 10%">
              <mfDefaultSorter by="dateOfBirth">Date of birth</mfDefaultSorter>
            </th>
            <th style="width: 20%">
                <mfDefaultSorter>Action</mfDefaultSorter>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of mf.data">
            <td>{{item.id}}</td>
            <td>{{item.lastName}}</td>
            <td>{{item.firstName}}</td>
            <td>{{item.email}}</td>
            <td>{{item.profile.dateOfBirth}}</td>
            <td>
                <i class="icon-plus action add" (click)="add(item)"></i>
                <i class="icon-pencil action" (click)="edit(item)"></i>
                <i class="icon-trash action" (click)="delete(item.id)"></i>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="4">
              <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
